<% include partials/header %>
    <% allBlogs.forEach(function(blog){ %>
        <p>
            <%= blog.title %>
        </p>
        <img src="<%= blog.image %>">
        <p>
            <%= blog.blogContent.substring(0,100)%>...
                <a class="ui primary button" href="/blogs/<%=blog._id%>">Read More</a>
        </p>
        <p>
            <%= blog.created %>
        </p>
        <%});%>

            <% include partials/footer %>"